.articleImage{
  display:flex;
  /*object-fit: cover;*/
  justify-content: center;
  align-items: center;

}
.mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
  width:auto;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-display-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
}
