
<h2 id="live">Live</h2>
<!--<div class="example">-->
<!--&lt;!&ndash;  <button class="btn" onclick="dp6.danmaku.draw({text: '假装收到 WebSocket 弹幕', color: '#fff', type: 'right'})">假装收到 WebSocket 弹幕</button>&ndash;&gt;-->
<!--  <div id="dplayer6"></div>-->
<!--</div>-->


<d-player dpHls [live]="true" [video]="{url: 'http://185.177.125.86:3333/sunshine/fUphGuJYr3ipMYML-e6wu44kPxHvVdLMXO5JnLiK3ztQGmx43AlI8WZvMGeAe61vxl-iGZlrGrDqDCtVI1l1Ic1GKVJLGqPHBVuztmso6r88eUxdng4mTq4aH2I7rhL7bcMN8oYPgjPcc3EPZTHf_YmUrBZtHPyrXBjfSHUpgCiWaOSUx0o6-3RFoCf7WB9T/hls/index.m3u8'}"></d-player>
<script src="DPlayer.min.js"></script>
