<div class="ResultCard">
<!--  <mat-accordion *ngFor="let data of data ; let i=index" routerLink="/result-details/{{data.side1.replace('-','').replace(' ','-').toLowerCase()}}/{{data.side2.replace('-','').replace(' ','-').toLowerCase()}}">-->
  <mat-accordion *ngFor="let data of data ; let i=index" routerLink="/result-details/{{team1[i]}}/{{team2[i]}}">
<!--  <mat-accordion *ngFor="let data of data ; let i=index" routerLink="/result-details/marseille/lille">-->
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="ResultLine">
            <div class="over">

            </div>
            <div class="team">
              <div class="name"><strong>{{data.side1}}</strong></div>
              <img
                class="team-logo"
                src="https://s3.amazonaws.com/bookmkrs/img/logos/mini/{{data.side1ScId}}.png">
            </div>
            <!--            score-->

            <div class="date-or-score">
              <!-- Not Started Yet-->
              <div class="not-started" *ngIf="data.s === '-'">
                <div class="score-line">
                  <mat-icon>alarm</mat-icon>
                </div>
                <div
                  class="sub-score-line"
                >{{(data.date | date) }}
                </div>
              </div>
              <!-- Postponed -->
              <div class="not-over" *ngIf="data.status === 'Pst'">
                <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>
                <div class="sub-score-line">Prolongations</div>
              </div>
              <div class="not-over" *ngIf="data.status === '2T'">
                <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>
                <div class="sub-score-line">2ème Mi-temps</div>
              </div>
              <!-- Full Time -->
              <div class="over" *ngIf="data.status === 'FT'">
                <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>
                <div class="sub-score-line">Fin du match</div>
                <div class="sub-date-line">
                  {{data.date | date}}
                </div>
              </div>
              <!-- On Going -->
              <div class="on-going" *ngIf="data.status === 'HT'">
                <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>
                <div class="sub-score-line">
                  <div *ngIf="data.s === 'HT'">Mi-temps</div>
                </div>
              </div>
            </div>

            <!--            fin score-->
            <div class="team">
              <div class="name"><strong>{{data.side2}}</strong></div>
              <img
                class="team-logo"
                src="https://s3.amazonaws.com/bookmkrs/img/logos/mini/{{data.side2ScId}}.png">
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
  </mat-accordion>
</div>


<!--<div class="ResultCard">-->
<!--  <mat-card *ngFor="let data of data ; let i=index">-->
<!--&lt;!&ndash;    <mat-expansion-panel hideToggle >&ndash;&gt;-->
<!--      &lt;!&ndash;        <mat-expansion-panel-header (click)="getUrl(data.gameId)">&ndash;&gt;-->
<!--      <div routerLink="/result-details/{{data.side1.replace('-','').replace(' ','-').toLowerCase()}}/{{data.side2.replace('-','').replace(' ','-').toLowerCase()}}" routerLinkActive="active">-->
<!--        <mat-card-title class="ResultLine">-->
<!--          <div class="over">-->
<!--            <div class="sub-date-line">-->
<!--              <div>{{data.date | date}}</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="team">-->
<!--            <div class="name"><strong>{{data.side1}}</strong></div>-->
<!--            <img-->
<!--              class="team-logo"-->
<!--              src="https://s3.amazonaws.com/bookmkrs/img/logos/mini/{{data.side1ScId}}.png">-->
<!--          </div>-->
<!--          &lt;!&ndash;            score&ndash;&gt;-->

<!--          <div class="date-or-score">-->
<!--            &lt;!&ndash; Not Started Yet&ndash;&gt;-->
<!--            <div class="not-started" *ngIf="data.s === '-'">-->
<!--              <div class="score-line">-->
<!--                <mat-icon>alarm</mat-icon>-->
<!--              </div>-->
<!--              <div-->
<!--                class="sub-score-line"-->
<!--              >{{(data.date | date) }} : {{(data.date | date)}}}-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Postponed &ndash;&gt;-->
<!--            <div class="not-over" *ngIf="data.status === 'Pst'">-->
<!--              <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>-->
<!--              <div class="sub-score-line">Prolongations</div>-->
<!--            </div>-->
<!--            <div class="not-over" *ngIf="data.status === '2T'">-->
<!--              <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>-->
<!--              <div class="sub-score-line">2ème Mi-temps</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Full Time &ndash;&gt;-->
<!--            <div class="over" *ngIf="data.status === 'FT'">-->
<!--              <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>-->
<!--              <div class="sub-score-line">Fin du match</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; On Going &ndash;&gt;-->
<!--            <div class="on-going" *ngIf="data.status === 'HT'">-->
<!--              <div class="score-line">{{ data.score1 }} - {{ data.score2 }}</div>-->
<!--              <div class="sub-score-line">-->
<!--                <div *ngIf="data.s === 'HT'">Mi-temps</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash;            fin score&ndash;&gt;-->
<!--          <div class="team">-->
<!--            <div class="name"><strong>{{data.side2}}</strong></div>-->
<!--            <img-->
<!--              class="team-logo"-->
<!--              src="https://s3.amazonaws.com/bookmkrs/img/logos/mini/{{data.side2ScId}}.png">-->
<!--          </div>-->
<!--        </mat-card-title>-->
<!--&lt;!&ndash;      </mat-expansion-panel-header>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-expansion-panel>&ndash;&gt;-->
<!--      </div>-->
<!--  </mat-card>-->
<!--</div>-->




