.list{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.abonne{
  color: #c4a749;
  background-color: transparent;
  padding: 1px 0 0;
  font-family: DINNextLTPro-MediumCond,sans-serif;
}
.mat-list-item{
}

.list .mat-list-option {
  height: auto;
}
