<!--<mat-sidenav-container class="sidenav-container">-->
<!--  <mat-sidenav #drawer class="sidenav" fixedInViewport-->
<!--      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--      [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--      [opened]="(isHandset$ | async) === false">-->
<!--    <mat-toolbar>Menu</mat-toolbar>-->
<!--    <mat-nav-list>-->
<!--      <a mat-list-item routerLink="/Ligue1">Ligue 1</a>-->
<!--      <a mat-list-item routerLink="/Bundesliga">BundesLiga</a>-->
<!--      <a mat-list-item routerLink="/LigueA">Ligue A</a>-->
<!--      <a mat-list-item routerLink="/SerieA">Série A</a>-->
<!--      <a mat-list-item routerLink="/PremierLeague">Première League</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <mat-toolbar color="primary">-->
<!--      <button-->
<!--        type="button"-->
<!--        aria-label="Toggle sidenav"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()"-->
<!--        *ngIf="isHandset$ | async">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
<!--      <span>LOLO-FOOTBALL</span>-->
<!--    </mat-toolbar>-->
<!--    &lt;!&ndash; Add Content Here &ndash;&gt;-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
<div>home works</div>

