<mat-tab-group>
  <mat-tab label="Championnat">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="data" class="full-width-table" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.row}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="team">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom de l'équipe</th>
          <td mat-cell *matCellDef="let row"><img
            src="https://s3.amazonaws.com/bookmkrs/img/logos/mini/{{row.teamScId}}.png"
          />{{row.team}}</td>
        </ng-container>

        <ng-container matColumnDef="J">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>J</th>
          <td mat-cell *matCellDef="let row">{{row.p}}</td>
        </ng-container>

        <ng-container matColumnDef="V">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>V</th>
          <td mat-cell *matCellDef="let row">{{row.w}}</td>
        </ng-container>

        <ng-container matColumnDef="N">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>N</th>
          <td mat-cell *matCellDef="let row">{{row.d}}</td>
        </ng-container>

        <ng-container matColumnDef="D">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>D</th>
          <td mat-cell *matCellDef="let row">{{row.l}}</td>
        </ng-container>

        <ng-container matColumnDef="Points">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Points</th>
          <td mat-cell *matCellDef="let row">{{row.pnt}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
                     [length]="dataSource?.data.length"
                     [pageIndex]="0"
                     [pageSize]="50"
                     [pageSizeOptions]="[25, 50, 100, 250]">
      </mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Résultats">
<app-resultat></app-resultat>
  </mat-tab>
  <mat-tab label="Statistiques">
    <app-stat></app-stat>
  </mat-tab>
</mat-tab-group>
