<h1 class="title">{{data.metas.title}}</h1>

<h3 class="subtitle">{{data.metas.description}}</h3>
<div class="Image">
  <img mat-card-image
       src="{{imagesUrl}}" alt="">
</div>

<div class="center">
  <div>
    <div class="article__body Article__body--ratings">
      <div class="Article__paragraph">
      </div>
      <div class="Article__paragraph Article__paragraph--ratings Article__paragraph--ratingsTeam">

        <div class="paragraph__rating">
          <div class="EditorRating">
            <div class="EditorRating__content">
              <div class="EditorRating__headband EditorRating__headband--line1">
                <div class="EditorRating__job"><span class="EditorRating__average">la note moyenne</span>
                </div>
              </div>
              <div class="EditorRating__headband EditorRating__headband--line2"><span>Marseille</span></div>
              <div class="EditorRating__value"
                   style="background-color: rgb(117, 172, 218); color: rgb(255, 255, 255);">4,3
              </div>
            </div>


            <div class="EditorRating__text"></div>

            <div class="Article__gradient"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="title">
  {{contentlegend}}
</h2>

<div class="content" *ngFor="let content of content">
  <mat-icon>alarm</mat-icon>&nbsp;
<div [innerHTML]="content.content"></div>
</div>

